* {
    box-sizing: border-box;
  }

.body{
    margin: 0;
    padding: 0;
}

.game {
    position: absolute;
    width: 100%;
    height: 300px;
}

.floor {
    width: 100%;
    height: 120px;
    background-image: url(img/floor.png);
    background-repeat: repeat;
    background-size: 120px 120px;
    position: absolute;
    top: 240px;
}

.bullet{
    height: 5px;
    width: 10px;
    background-color: rgb(233, 13, 13);
    position: absolute;
    top: 270px;
    left: 90px;
    animation: bulletMov 10s infinite linear;
}

/*animation bullet*/
@keyframes bulletMov {
    0% {
        left: 90px;
    }

    100% {
        left: 150px;
    }
}
/*animation bullet end*/

.warrior {
    width: 115px;
    height: 120px;
    background-image: url(img/warrior.png);
    background-repeat: no-repeat;
    background-size: 120px 120px;
    position: absolute;
    top: 200px;
}

/*animation jump warrior */
.jump {
    animation: jump 3s linear;
}

@keyframes jump {
    0% {
        top: 100px;
    }

    15% {
        top:50px;
    }

    30% {
        top: 10px;
    }

    50% {
        top: 5px;
    }

    80% {
        top: 15px;
    }

    100% {
        top: 200px;
    }
}
/*animation jump warrior end */


.zombie {
    width: 100px;
    height: 100px;
    background-image: url(img/zombie.png);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    position: absolute;
    top: 205px;
    left: 1300px;
    /* animation: zombieMov 30s infinite linear; */
}

/*animation zombie*/
@keyframes zombieMov {
    0% {
        left: 1300px;
    }

    100% {
        left: -20px;
    }
}
/*animation bullet end*/

